.five-section {
  padding: 60px 0;
}

.five-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.five-grid__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border $duration $timing-function;
  margin-right: 30px;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    border: 1px solid $main-color;
    color: $main-color;
    --five-icons: currentColor;
  }

  .five-grid__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
  }
}
