.four-section {
  background: #f5f4fa;
  padding: 94px 0 94px 0;
}

.four-section__grid {
  display: flex;
  justify-content: space-between;
}

.four-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.four-item__thumb {
  padding-top: 30px;
}

.four-item__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-color;
  margin-bottom: 10px;
}

.four-item__position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: $accent-color;
}
