.modal-phone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  transform: translateX(200%);
  transition: transform 250ms ease-in-out;
  background: $standart-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media screen and (min-width: 481px) {
    display: none;
  }
}

.modal-phone.is-open {
  transform: translateX(0);
}

.modal-phone__close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: $standart-color;
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-phone__icon {
  width: 18.67px;
  height: 18.67px;

  &:hover,
  &:focus {
    fill: $main-color;
  }
}

.modal-phone__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.modal-nav {
  padding: 48px 221px 0 40px;
}

.modal-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $second-color;
  margin-bottom: 32px;
  transition: color $duration $timing-function;

  & a:hover,
  & a:focus {
    color: $main-color;
  }
}

.modal-contacts {
  padding: 0 144px 64px 40px;
}

.modal-contacts__phone {
  font-weight: 500;
  font-size: 33px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $main-color;
  margin-bottom: 32px;
}

.modal-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.modal-media {
  display: flex;
  padding: 0 84px 0 40px;
  justify-content: space-between;
}

.modal-media__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: $main-color;
  position: relative;
}
