.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    // max-width: 1199px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
