.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 481px) {
    min-width: 481px;
  }

  @media screen and (min-width: 769px) {
    min-width: 769px;
    max-width: 1200px;
  }
}
