.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $standart-color;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
