.header {
  background: $standart-color;
  border-bottom: 1px solid #ececec;
  padding: 14px 0;
  position: relative;

  @media screen and (min-width: 1200px) {
    padding: 26px 0;
  }

  & .container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.modal-phone-open {
  width: 24px;
  height: 16px;
  position: absolute;
  top: 22px;
  right: 23px;

  &:hover,
  &:focus {
    fill: $main-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

.nav-grid {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: $second-color;
    justify-content: space-between;
    padding-left: 63px;
    padding-right: 84px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 93px;
  }
}

.nav-grid__item--margin {
  margin-right: 50px;
}

.nav-grid__link {
  position: relative;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $main-color;
    cursor: pointer;
  }

  &--current {
    color: $main-color;
  }
}

.header__contacts {
  display: none;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: $accent-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.contacts-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $main-color;
    cursor: pointer;
  }

  &--margin {
    margin-right: 50px;
  }
}

.contacts-item__mail {
  width: 16px;
  height: 12px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.contacts-item__phone {
  width: 10px;
  height: 16px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.contacts-item__mail,
.contacts-item__phone {
  --header-color: currentColor;
}
