.logo {
  font-family: $accent-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  &--white {
    color: $standart-color;
    margin-bottom: 20px;
  }
}

.apart-logo {
  color: $main-color;
}
