$main-font: "Roboto", sans-serif;
$accent-font: "Raleway", sans-serif;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-color: #2196f3;
$second-color: #212121;
$accent-color: #757575;
$standart-color: #ffffff;